.myTimelessSwiper > .swiper-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.myTimelessSwiper > .swiper-button-prev {
  position: absolute;
  opacity: 1;
  left: -8px;
}

.myTimelessSwiper > .swiper-button-next {
  right: -8px;
  position: absolute;
  opacity: 1;
}

/* .swiper {
  width: 100%;
  height: fit-content;
} */

.myTimelessSwiper > .swiper-button-prev::after,
.myTimelessSwiper > .swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
