<section>
  <!-- job update -->
  <div class="lg:px-[11rem] px-4 w-full bg-white py-10 mb-6 ">
    <h2 class="text-left mb-1 text-3xl font-normal text-[#70645c]" style="font-family: Noto Sans">
      Careers
    </h2>
    <p class="mb-4">
      Come grow with us! We are currently looking for the following
 
 
 
 
      positions:
    </p>
    <ul>
      <li>
        <strong>1. Store Manager
        </strong>- Goa, Rajkot, Udaipur, Guwahati
 
 
 
 
        Airport, Patna, Lucknow, Jaipur, Amritsar, Bilaspur
      </li>
      <li>
        <strong>2. Assistant Store Manager
        </strong>- Goa, Rajkot, Udaipur,
 
 
 
 
        Guwahati Airport, Patna, Lucknow, Jaipur, Amritsar, Bilaspur
      </li>
      <li>
        <strong>3. Sr. Beauty Consultant
        </strong>- Goa, Rajkot, Udaipur,
 
 
 
 
        Guwahati Airport, Patna, Lucknow, Jaipur, Gurgaon, Amritsar,
        Bilaspur, Bangalore, Hyderabad, Mumbai, Thane, Siliguri, Mangalore
      </li>
      <li>
        <strong>4. Beauty Consultant
        </strong>- Goa, Rajkot, Udaipur,
 
 
 
 
        Guwahati Airport, Patna, Lucknow, Jaipur, Gurgaon, Amritsar,
        Bilaspur, Bangalore, Hyderabad, Mumbai, Thane, Siliguri, Mangalore
      </li>
    </ul>
    <p class="text-left text-gray-700 text-[0.9rem] mt-4" style="font-family: PlayFair Display">
      Please send in your CVs at hr@timelessbeautysecrets.in
    </p>
  </div>
</section>

{% schema %}
  {
    "name": "Careers",
    "settings": [],
    "presets": [
      {
        "name": "careers"
      }
    ]
  }
{% endschema %}