<section>
  <!-- top image -->
  <div class="">
    <div class="h-[620px]">
      <img
        class="w-full h-full object-cover"
        src="{{ 'Rectangle 282.png' | asset_url }}"
        width=""
        height="" />
    </div>
  </div>
  <!-- paragraph -->
  <div class="lg:px-36 px-4 w-full bg-white py-12">
    <h2 class="text-center mb-4 not-italic text-4xl font-semibold text-gray-600" style="font-family: Amatic SC">
      Certification
    </h2>
    <p class="text-center text-gray-800 lg:text-sm text-xs leading-snug" style="font-family: PlayFair Display">
      Lorem Ipsum is simply dummy text of the printing and typesetting   industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has  survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with  the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <!-- main content starts -->
  <div class="lg:px-40 px-4 py-12 w-full">
    <div class="grid grid-cols-1 gap-6">
      <div class="flex lg:flex-row flex-col justify-center w-full">
        <div class="lg:w-[50%] w-full">
          <img
            class=""
            src="{{ 'Rectangle 265.png' | asset_url }}"
            alt=""
            width=""
            height="" />

        </div>

        <div class="lg:w-[50%] w-full text-center lg:text-left flex flex-col gap-4 px-8 py-8">
          <h2 class="text-3xl text-gray-700 font-semibold">Sub Heading</h2>
          <p class="text-sm sm:leading-snug">
            Lorem Ipsum is simply dummy text of the printing and typesetting   industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has  survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>

      <div class="flex lg:flex-row flex-col-reverse justify-center w-full">
        <div class="lg:w-[50%] w-full text-center lg:text-left flex flex-col gap-4 px-8 py-8">
          <h2 class="text-3xl text-gray-700 font-semibold">Sub Heading</h2>
          <p class="text-sm sm:leading-snug">
            Lorem Ipsum is simply dummy text of the printing and typesetting   industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has  survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>

        <div class="lg:w-[50%] w-full">
          <img
            class=""
            src="{{ 'Rectangle 265.png' | asset_url }}"
            alt=""
            width=""
            height="" />

        </div>
      </div>

      <div class="flex lg:flex-row flex-col justify-center w-full">
        <div class="lg:w-[50%] w-full">
          <img
            class=""
            src="{{ 'Rectangle 265.png' | asset_url }}"
            alt=""
            width=""
            height="" />

        </div>

        <div class="lg:w-[50%] w-full text-center lg:text-left flex flex-col gap-4 px-8 py-8">
          <h2 class="text-3xl text-gray-700 font-semibold">Sub Heading</h2>
          <p class="text-sm sm:leading-snug">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into  electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- video -->
  <div class="lg:px-40 px-4 py-12 w-full">
    <iframe
      class="h-[400px] w-full rounded-lg"
      src="https://www.youtube-nocookie.com/embed/cj5KFqT5Geo?si=29hfbRGFItX0jhiW"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>

{% schema %}
  {
    "name": "Certification",
    "settings": [],
    "presets": [
      {
        "name": "certification"
      }
    ]
  }
{% endschema %}