<link rel="stylesheet" href="{{ 'login-register.css' | asset_url }}">

<!-- Form Main Container for larger screen -->
<div class="formContainer">
  <div class="backGroundImg"></div>
</div>


<script src="{{ "login-register.js" | asset_url }}" defer></script>