<section>
  <div class="policies">
    <h2>Policies</h2>
    <div>
      <ul class="policyHeadings">
        <li>- Payment Options</li>
        <li>- Cash on Delivery Policy</li>
        <li>- Pricing Policy</li>
        <li>- Payment Security</li>
        <li>- What is a CVV/CVC?</li>
        <li>- Out of stock Items</li>
        <li>- Cancellation Policy</li>
        <li>- Shipping Policy</li>
        <li>- Covid Safety Measures Policy</li>
        <li>- Returns & Refund Policy</li>
      </ul>

      <div class="policyDefination">
        <ul class="dotList">
          <span>Policy</span>
          <li>
            Browse the Timeless Online catalogue to make your purchase. Select the item you wish to order, enter the quantity you desire and
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            click on "Order".
          </li>
          <li>
            When your order contains the items and quantities you wish to purchase, click on the "Checkout" link underneath your order.
          </li>
          <li>
            You will then be asked to provide your shipping and payment information. Please see the Payment Options available to you and
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            choose the one that suits you.
          </li>
          <li>
            Once you have successfully made your payment, order will be processed & shipped within our stipulated timelines. For more
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            information, please see our Shipping Policy.
          </li>
        </ul>

        <ul class="plainList">
          <span>Payment Options</span>
          <li>
            Timeless Online is set up to take immediate online orders through the following modes of payment:
          </li>
          <li>
            <p>
              Domestic and international credit cards, issued by banks and
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              institutions that are part of the Visa and MasterCard Network
              Visa Debit cards
            </p>
            <p>
              From select banks in India. A full list is available at the time
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              of Check Out and prior to making payments for purchases.
            </p>
          </li>

          <li>
            Please note that for Visa and MasterCard you will require to
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            submit your 16-digit credit card number, card expiry date and a
            3-digit CVV number (on the back of the card), when you make an
            online transaction using your Credit Card. You should also have
            enrolled your Credit Card with VBV (Verified by Visa) or MSC
            (MasterCard Secure Code) to complete the transaction. For American
            Express Cards you will be required to give your 15-digit card
            number and a 4-digit code
          </li>
          <li>
            The Credit Card transaction will appear on your bank statement as
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            a payment to Net Distribution Services Pvt. Ltd.
          </li>
        </ul>

        <ul class="dotList">
          <span>Cash on Delivery Policy</span>
          <li>
            We have the option for ‘Cash on Delivery’ on orders above INR
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            2,999/- for domestic orders only. We follow all safety protocols,
            along with our courier partners to ensure the package that reaches
            you is safe.
          </li>
          <li>
            If you are physically unavailable for during the time of delivery,
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            please suggest an alternative address or contact number of a
            reliable source at service@*****.com within 48 hours of order
            placement, for successful delivery.
          </li>

          <li>
            If a ‘COD’ order is returned to us due to your unavailability or
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            any other reason, we will only reship the same order only if you
            convert it to a prepaid order, post-delivery failure.
          </li>
          <li>
            Customers placing “COD” orders will be reached out via call for
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            the confirmation of their orders. Customers failing to respond to
            the calls will be reached out via mail informing cancellation of
            the COD order. Customers may respond to the mail confirming the
            processing of the order.
          </li>
          <li>
            If a customer refuses the delivery of a ‘COD’ order more than
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            twice, he/she would not be eligible for ‘COD’ for all future
            orders. Then, he/she can only choose to place a prepaid order on
            the website.
          </li>
          <li>
            All claims for shortages (missing items) or damages must be
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            reported to our customer service team within 48 hours of delivery.
            We request you to write to us at service@*****.com well within the
            aforementioned time frame. Forest Essentials will not be
            responsible for any claim raised with respect to damages or
            missing products post 48 hours of delivery.
          </li>
          <li>
            Shipping/billing address can’t be changed once the order is
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            placed. No modifications can be made post successful placement of
            orders. For further queries, you may get in touch with our
            Customer Care team on email at service@*****.com or chat with us
            from Monday to Saturday, from 9:30-6:30 PM IST.
          </li>
          <li>
            If a ‘COD’ order is to be cancelled, please inform our customer
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            service team by sending an email at service@*****.com with the
            order number on the same date that you placed the order.
          </li>
          <li>
            Due to the ongoing COVID-19 situation, please bear with possible
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            dispatch and delivery delays of your order. Click here to know
            more about our COVID-19 safety measures.
          </li>
          <li>
            COD orders cannot be refunded in the original mode of payment. It
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            can only be refunded via the brand online voucher.
          </li>
        </ul>

        <ul class="dotPlainList">
          <span>Pricing Policy</span>
          <li>
            The product prices listed are current and updated. However, these
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            are subject to change without advance notice.
          </li>
          <li>
            All prices on this web site are processed in Indian Rupees and the
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            prices are inclusive of all taxes.
          </li>
          <li>
            All orders are acknowledged at current pricing. We will bill at
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            the price in effect, at the time of shipping.
          </li>
          <li>Our products are liable for GST in India.</li>
          <li>
            All international shipping orders may attract local duties
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            applicable in that country and the customer will have to pay
            locally, accordingly. We will not be able to confirm what these
            charges will be in advance and are not liable to pay these from
            our end.
          </li>
        </ul>

        <ul class="plainListDark">
          <span>Payment Security</span>
          <li>
            All transactions at Timeless Online are protected by SSL (Secure
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            Sockets Layer) and Secure Data Encryption using a 1024-bit
            process. Any information you enter when transacting withTimeless
            Online is sent in a Secure Socket Layer (SSL) session and is
            encrypted to protect you against unintentional disclosure to third
            parties. This is an assurance that we follow the best security
            practices adopted by major online vendor, where all payments are
            processed in real-time, for your security and immediate peace of
            mind.
          </li>
          <li>
            You can tell if your browser is in secure mode at “Checkout”, by
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            looking for the padlock icon at the bottom corner or at the end of
            the address bar of your browser window.
          </li>
        </ul>

        <ul class="plainList">
          <span>What is a CVV/CVC?</span>
          <li>
            The Credit Verification Value or CVV or the Credit Validation Code
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            or CVC is an important security feature that further reduces the
            risk of Internet fraud. This number never appears on sales
            receipts or billing statements and is only found on the physical
            card itself. We ask you to enter the CVV/CVC code during your
            transaction to make sure that the card is, in fact, in your
            possession. The CVV/CVC is a 3 or 4-digit code embossed or
            imprinted on the reverse side of your credit card, in the
            signature area.
          </li>
        </ul>

        <ul class="plainListDark">
          <span>Out of Stock Items</span>
          <li>
            We apologize for the inconvenience this may cause. If your item is
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            out of stock, we will contact you within 2 business days to
            discuss how you would like the order to be handled. TimelessOnline
            does not back order, that is, we do not accept orders which we
            cannot fulfil immediately.
          </li>
        </ul>

        <ul class="plainList">
          <span>Cancellation Policy</span>
          <li>
            If you wish to cancel your order, you can do so by sending us an
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            email on service@****.com within 24 hours of placing the order.
            You can also call our Customer Care on +91-9090530001 (Timings:
            9:30 am - 5 pm IST), within 24 hours of placing the order. Once
            orders have been dispatched, they cannot be cancelled. In case of
            cancellation of the order within the timeline, you will be charged
            2.5% as payment gateway charges and the balance will be refunded
            to the cardholder and credited through the same payment instrument
            in 7-10 working days or as per the Bank’s guidelines.
          </li>
        </ul>

        <span class="shoppingPolicy">
          <span>Shipping Policy</span>

          <span>
            <p>
              Purchases are shipped from our warehouse in Whitefield by
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              courier.
            </p>
            <p>
              Due to COVID-19, we cannot commit on delivery timelines. We do
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              request you to bear with us in the case of slight delays. Please
              refer to our Covid Safety Measures Policy for more details. As
              per safety protocols while we are currently accepting online
              orders to ship within India and worldwide, due to changing
              nature of the situation, we reserve the right to pause
              deliveries to any country at any time if so warranted.
            </p>
          </span>

          <ol class="dotList">
            <p>Order deliveries will be made between</p>
            <li>
              Purchases are shipped from our warehouse in Whitefield by
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              courier.
            </li>
            <li>
              Due to COVID-19, we cannot commit on delivery timelines. We do
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              request you to bear with us in the case of slight delays. Please
              refer to our Covid Safety Measures Policy for more details. As
              per safety protocols while we are currently accepting online
              orders to ship within India and worldwide, due to changing
              nature of the situation, we reserve the right to pause
              deliveries to any country at any time if so warranted.
            </li>
            <li>
              Order Deliveries Will Be Made Between <br/>
              10:00 AM – 6:00 PM Monday – Saturday. Excluding public holidays.
            </li>
            <li>
              Goods will need to be signed for upon delivery. If you cannot be
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              there to sign for your delivery please suggest an alternative
              i.e. a family member, colleague, neighbor, etc. However, the
              brand takes no responsibility for goods signed by an alternative
              person.
            </li>
            <li>
              Certain courier partners may request an OTP to complete
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              delivery. This will need to be provided for completion of
              delivery. OTP will be sent to the number inputted at time of
              placing the order.
            </li>
            <li>Timeless is not responsible for damage after delivery.</li>
            <li>
              For all claims for shortages or damages must be reported to
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              customer service within 48 hours of the day of delivery.
            </li>
            <li>
              Shipping and handling rates may vary based on product,
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              packaging, size, volume, type and other considerations. The
              shipping and handling charges are given at the time of check out
              and consumers will know about this before making payments.
            </li>
            <li>
              The brand will only be responsible for compliance with export
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              and customs laws of the country where the products are being
              shipped from. The consignee must ensure compliance with import
              and customs laws of the country they are having the products
              shipped to.
            </li>
            <li>
              The brand will only be responsible for compliance with export
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              and customs laws of the country where the products are being
              shipped from. The consignee must ensure compliance with import
              and customs laws of the country they are having the products
              shipped to.
            </li>
            <li>
              The brand will fulfil all international orders from its end.
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              However, the consignee will be responsible for the entry of the
              products to the country they have chosen to have the products
              shipped to and for compliance with all applicable laws
              pertaining to the same, including without limitation, payment of
              Customs Duty Charge / Import Duty / VAT / Other applicable
              government taxes/Convenience charges, etc. on arrival in the
              destination country.
            </li>
            <li>
              In the event and for any reason whatsoever, an order does not
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              get cleared by customs in the destination country, the brand
              may, at its sole and absolute discretion, consider a refund of
              the customer’s order amount after deducting the shipping costs,
              return duty charges and any other charges incurred by the brand
              while processing the order and having the products shipped to
              the customer.
            </li>
            <li>
              Please confirm that your order and the products therein are in
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              compliance with and the delivery permissible under the laws of
              your country.
            </li>
          </ol>
        </span>

        <span class="shoppingPolicyPlain">
          <span>Returns & Refund Policy</span>
          <span>
            <p>
              If you claim a leakage in the product or if it was damaged
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              during the delivery process, please send us an email with the
              following details, within 48 hours of the delivery date. We will
              issue a product exchange for any product that is returned in a
              saleable and undamaged condition, in its original packaging and
              can be verified to be damaged/faulty. Please allow one to three
              weeks from the day you return your package, for your exchange
              request to be fully processed and closed.
            </p>
            <p>
              Please write to us within 48 hours of receiving the product that
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              you would like to exchange or refund at service@*****.com with
              the following details:
            </p>
          </span>
          <ul class="dotPlainList">
            <li>Complaint Order Number</li>
            <li>Invoice number</li>
            <li>
              Please specify if you are a Club Member or not along with Card
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              Number
            </li>
            <li>Details of your request or complaint</li>
            <li>
              Images or videos to support the complaint with Batch details
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              clearly visible as below, without which we cannot process the
              request
            </li>
            <ul class="triangleList">
              <li>
                In case the product is not sealed/ leakage/ broken products
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                –clear images or video of the non-sealed/ leaking/ broken
                products along with clear images or video of spillage (if
                any), mono-carton and outer packaging images too. Please also
                send images to show seal has been tampered with if that is the
                claim along with the above.
              </li>

              <li>
                In case the product received is empty or volume of the product
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                is less or product is missing in the package or a wrong
                product has been delivered- clear images or video of the
                empty/ faulty/ product with less volume/ or product missing/
                or wrong product delivered along with clear images or video of
                spillage (if any wherever applicable), mono-carton and outer
                packaging images too.
              </li>
              <li>
                In case the internal packaging and the outer packaging
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                received is very dirty- clear images or video of the complete
                open package received along with clear images or video of the
                mono-carton and outer packaging
              </li>
              <li>
                Mono carton refers to the Forest Essentials box/packaging the
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                individual product comes in, while outer packaging refers to
                the larger box the entire order is shipped in. Images of both
                are required to process claims.
              </li>
            </ul>
          </ul>

          <span>
            <p>
              Once all the details are received, it would take our team 3
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              working days to revert on the complaint/ query/ issue. In case
              an exchange is approved for your complaint, you will be informed
              of the same with an authorization number, and a reverse pick-up
              of the product will be arranged. In the case of a product
              refund, once your request is approved the refund will reflect in
              your account within 10-15 days and you will be sent an email
              confirming the same.
            </p>
            <p>
              All products to be exchanged must be sent back to us packed in
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              the same packaging as it was received in and physically
              accompanied in the reverse pick-up by the original receipt and a
              document that states the following:
            </p>
          </span>

          <ul class="dotPlainList">
            <li>Address of dispatch</li>
            <li>Name & Address of the customer</li>
            <li>Order number</li>
            <li>Contents of the package</li>
          </ul>

          <span>
            <p>
              Please also email this document and share an image of the
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              reverse pick-up consignment (inside and outside packaging) with
              our Customer Care representative who you have been in touch with
              on email.
            </p>
            <p>
              Once the package is received by our warehouse team the exchange
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              order will be processed within 24 hours. You will then be
              informed of the new consignment tracking details.
            </p>
            <p>
              Please note orders for Gift boxes are not applicable for
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              exchange or refund here.
            </p>
            <p>
              Timelesss Online is not responsible for damage after delivery.
            </p>
          </span>
        </span>
        <br/>
        <span class="shoppingPolicy">
          <span>Product Quality Related Complaints</span>
          <span>
            <p>
              In the case of a product quality concern, please send us an
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              email at service@forestessentialsindia.com within 7 days of the
              date of receipt of the product and with the following details.
              We shall take 24 to 48 hours to review the email and revert
              back:
            </p>
          </span>
          <ul class="dotList">
            <li>Order number</li>
            <li>Product that is highlighted for quality issue</li>
            <li>
              Please specify if you are a Soundarya Club Loyalty Member or not
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              along with card number
            </li>
            <li>Details of your Request</li>
            <li>
              Images or videos to support the complaint along with an image of
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              the back label of the product where the Batch details are
              clearly visible
            </li>
          </ul>
          <span>
            <p>
              In the case of a quality issue highlighted our team will first
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              connect you with an in-house Ayurvedic Doctor within 2 working
              days. Depending on the nature of the complaint, the conversation
              with our Doctor and his or her analysis of the situation, our
              customer team representative will then request to have the
              product sent back to our factory for a quality assessment, the
              quality report will then be available post 7 working days from
              receiving the product for quality check.
            </p>
            <p>
              All products to be shared for inspection must be physically
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              accompanied in the reverse pick-up by the original receipt and a
              document that states the following:
            </p>
          </span>
          <ul class="dotList">
            <li>Address of dispatch</li>
            <li>Name & Address of the customer</li>
            <li>Order number</li>
            <li>Content of the package</li>
          </ul>
          <span>
            <p>
              Please also email this document and share an image of the
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              reverse pick-up consignment (inside and outside packaging) with
              our Customer Care representative who you have been in touch with
              on email.
            </p>
            <br/>
            <p>
              If the product passes the test and matches the complaint, we
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              shall initiate return/exchange process within 7 days of the
              consignment being received by our quality inspection team. The
              overall quality inspection process starting from pick-up to the
              final response would involve a time period of 3 weeks’ minimum.
            </p>
            <br/>
            <p>
              Damages due to neglect, improper usage or wrong application will
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
              not be covered under our Exchange/Returns Policy. Exchange of
              product due to allergic/skin reactions is not applicable.
              Exchange of product due to reasons including personal dislike of
              the product; dislike of the fragrance; dislike of color that
              cannot be backed by proof of quality issues with the product
              itself is not applicable
            </p>
            <br/>
            <p>No cash refunds are permitted.</p>
          </span>
        </span>
      </div>
    </div>
  </div>
</section>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .policies,
  .policies > div {
    width: 77%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-top: 20px;
    gap: 20px;
  }

  .policies > h2 {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #70645c;
    text-align: left;
    letter-spacing: 1.5px;
    padding-left: 10px;
  }

  .policies > div {
    width: 100%;
    padding: 0;
    gap: 15px;
    font-family: "Noto Sans"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
  }

  .policyDefination {
    width: 100%;
    height: auto%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }

  .policyHeadings {
    list-style-type: none;
    padding: 0 10px;
  }

  .policyHeadings > li {
    margin-bottom: 15px;
  }

  .shoppingPolicy,
  .shoppingPolicyPlain {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    background-color: #ede9ed;
    gap: 15px;
  }

  .shoppingPolicyPlain {
    background-color: white;
  }

  .shoppingPolicy > span,
  .shoppingPolicyPlain > span {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-family: "Noto Sans"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
  }

  .dotList,
  .plainList,
  .dotPlainList,
  .plainListDark {
    list-style-type: disc;
    list-style-position: inside;
    background-color: #ede9ed;
    padding: 20px 10px 20px 15px;
  }

  .shoppingPolicy > .dotList > p:nth-child(1) {
    font-style: normal;
    font-weight: 600;
  }

  .plainList {
    list-style-type: none;
    background-color: white;
  }

  .plainListDark {
    list-style-type: none;
  }

  .dotPlainList {
    background-color: white;
  }

  .dotList > span,
  .plainList > span,
  .dotPlainList > span,
  .plainListDark > span,
  .shoppingPolicy > span:nth-child(1),
  .shoppingPolicyPlain > span:nth-child(1) {
    font-family: "Noto Sans"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #70645c;
    letter-spacing: 1.5px;
  }

  .dotList > li,
  .dotPlainList > li {
    padding-left: 15px;
    margin-top: 7px;
    margin-left: 20px;
    text-indent: -20px;
  }

  .plainList > li,
  .dotPlainList > li,
  .plainListDark > li {
    margin-top: 12px;
  }

  .shoppingPolicy > .dotList,
  .shoppingPolicyPlain > .dotPlainList {
    padding: 0;
    font-family: "Noto Sans"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
  }

  .shoppingPolicyPlain > .dotPlainList > li {
    margin-top: 7px;
  }

  /* Style for triangle list */
  .triangleList {
    list-style: none;
    padding: 0;
    margin-left: 33px;
  }

  .triangleList li {
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    /* space for triangle */
  }

  .triangleList > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 17px;
    background-image: url('{{ 'Icon material-arrow-drop-down.png' | asset_url }}');
    background-size: contain;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
  }

  @media all and (max-width: 999px) {
    .policies {
      width: 85%;
    }
    .table-container-sm {
      display: none;
    }
  }

  @media all and (max-width: 599px) {
    .policies {
      width: 100%;
      padding-top: 20px;
    }


    .policyHeadings {
      list-style-type: none;
      padding: 0 20px;
    }
  }

</style>

{% schema %}
  {
    "name": "Policies",
    "settings": [],
    "presets": [
      {
        "name": "policies"
      }
    ]
  }
{% endschema %}