<section>
  {% render 'BannerSlider' %}
  {% render 'SafetyIconAndStory' %}
  <hr style="color: lightgray" />
  {% render 'tagsAndProducts' %}
  <hr style="color: lightgray; display: block; margin: auto" width="70%" />
  {% render 'BestSeller' %}
  {% render 'customerTestimonials' %}
  <hr style="color: lightgray; display: block; margin: auto" width="70%" />
  {% render 'timelessSlider' %}
  {% render 'Animation' %}
</section>