<div class="socialLogos">
  {% comment %} <div>
            <img
              width=""
              height=""
              src=" {{ 'facebook-icon.svg' |  asset_url }} " />
          </div>
          <div>
            <img
              width=""
              height=""
              src=" {{ 'google-plus-icon-color.svg' |  asset_url }} " />
      </div> {% endcomment %}
  <div class='one-click-social-login'></div>'
</div>

{% schema %}
  {
    "name": "App Block Section",
    "settings": [],
    "blocks": [
      {
        "type": "app_block",
        "name": "App Block",
        "settings": []
      }
    ]
  }
{% endschema %}