<section class="socialLogos">
  <div class='one-click-social-login'>
    <img
      width=""
      height=""
      src=" {{ 'facebook-icon.svg' |  asset_url }} " />
  </div>
  <div class='one-click-social-login'>
    <img
      width=""
      height=""
      src=" {{ 'google-plus-icon-color.svg' |  asset_url }} " />
  </div>

</section>