<section>
  <div class="termsConditions">
    <h2>Terms and Conditions</h2>
    <div>
      <ol class="termHeadings">
        <li>Privacy</li>
        <li>Payment Policy</li>
        <li>Products and Services for Personal Use</li>
        <li>Accuracy of Information</li>
        <li>Manufacturing Information</li>
        <li>Intellectual Property</li>
        <li>Limited Licenses</li>
        <li>Your Obligations and Responsibilities</li>
        <li>Third Party Links</li>
        <li>Special Features, Functionality and Events</li>
        <li>Submissions</li>
        <li>User Content</li>
        <li>Copyright Complaints</li>
        <li>Representations and Warranties and Limitation of Liability</li>
        <li>Indemnification</li>
        <li>Disputes</li>
        <li>
          Consent to Receive Notices Electronically by Posting on the Website
 
          and Via Email
        </li>
        <li>General</li>
        <li>International Orders</li>
        <li>Gift Wrap – Terms & Conditions</li>
        <li>Gift Cards</li>
      </ol>

      <span>
        <p>Welcome to the Forest Essentials Online.</p>
        <p>
          Forest Essentials Online provides you with the content and services
 
          available on this website, subject to the following Terms and
          Conditions, our Privacy Policy, Payment Policy and other conditions
          and policies which you may find throughout our website, in
          connection with certain functionality, features or promotions, as
          well as customer service, all of which are deemed a part of and
          included within these terms and conditions (collectively, “Terms and
          Conditions”). By accessing or using this website, you are
          acknowledging that you have read, understood, and you agree, without
          limitation or qualification, to be bound by these Terms and
          Conditions.
        </p>
      </span>

      <ol class="termDefinations">
        <li>
          <span>Privacy</span>
          <p>
            Please review our privacy-policy so that you may understand our
 
            privacy practices.
          </p>
        </li>
        <li>
          <span>Payment Policy</span>
          <p>
            Please see our Payment Policy to understand the purchase processes
 
            of our products.
          </p>
          <p>
            All international shipping orders may attract local duties
 
            applicable in that country and the customer will have to pay
            accordingly locally.
          </p>
        </li>
        <li>
          <span>Products and Services for Personal Use</span>
          <p>
            The products and services described on this website, and any
 
            samples thereof we may provide to you, are for personal use only.
            You may not sell or resell any of the products or services, or
            samples thereof, you receive from us. We reserve the right, with
            or without notice, to cancel or reduce the quantity of any
            products or services to be provided to you that we believe, in our
            sole discretion, may result in the violation of our Terms and
            Conditions.
          </p>
        </li>
        <li>
          <span>Accuracy of Information</span>
          <p>
            We attempt to be as accurate as possible when describing our
 
            products on the website. However, except to the extent implied by
            applicable law, we do not warrant that the product descriptions,
            colours, information or other content available on the website are
            accurate, complete, reliable, current, or error-free.
          </p>
        </li>
        <!-- Repeat the above structure for the remaining items -->
        <li>
          <span>Manufacturing Information</span>
          <p>
            All our products are manufactured & marketed by Mountain Valley
 
            Springs (I) Pvt. Ltd.
          </p>
          <p>E-46 & 47, I. A., Bahadrabad, Haridwar, Uttarakhand – 249402</p>
          <p>M.L. No.: Uttra.Ayu-164/2009 C. Care No.: +91.120.4696969</p>
          <p>MADE IN INDIA</p>
        </li>

        <li>
          <span>Intellectual Property</span>
          <p>
            All information and content available on the website and its “look
 
            and feel”, including but not limited to trademarks, logos, service
            marks, text, graphics, logos, button icons, images, audio clips,
            data compilations and software, and the compilation and
            organization thereof (collectively, the “Content”) is the property
            of Forest Essentials Online, our Affiliates, partners or
            licensors, and is protected by laws of India, including laws
            governing all applicable forms of intellectual property.
          </p>
          <br/>
          <p>
            Except as set forth in the limited licenses in Section 6, or as
 
            required under applicable law, neither the Content nor any portion
            of this website may be used, reproduced, duplicated, copied, sold,
            resold, accessed, modified, or otherwise exploited, in whole or in
            part, for any purpose without our express, prior written consent
          </p>
        </li>

        <li>
          <span>Limited Licenses</span>
          <p>
            We grant you a limited, revocable, and non-exclusive license to
 
            access and make personal use of Forest Essentials Online website.
            This limited license does not include the right to: (a) frame or
            utilize framing techniques to enclose the website or any portion
            thereof; (b) republish, redistribute, transmit, sell, license or
            download the website or any and/or all Content (except caching or
            as necessary to view the website); (c) make any use of the website
            or any and/or all Content other than personal use; (d) modify,
            reverse engineer or create any derivative works based upon either
            the website or any and/or all Content; (e) collect account
            information for the benefit of yourself or another party; (f) use
            any meta tags or any other “hidden text” utilizing any and/or all
            Content; or (g) use software robots, spiders, crawlers, or similar
            data gathering and extraction tools, or take any other action that
            may impose an unreasonable burden or load on our infrastructure.
            You must retain, without modification, all proprietary notices on
            the website or affixed to or contained in the website.
          </p>
          <br/>
          <p>
            We also grant you a limited, revocable, and nonexclusive license
 
            to create a hyperlink to the home page of the website for
            personal, non-commercial use only. A website that links to the
            website (i) may link to, but not replicate, any and/or all of our
            Content; (ii) may not imply that we are endorsing such website or
            its services or products; (iii) may not misrepresent its
            relationship with us; (iv) may not contain content that could be
            construed as distasteful, obscene, offensive controversial or
            illegal or inappropriate for any ages; (v) may not portray us or
            our products or services, in a false, misleading, derogatory, or
            otherwise offensive or objectionable manner, or associate us with
            undesirable products, services, or opinions; and (vi) may not link
            to any page of the website other than the home page. We may, in
            our sole discretion, request that you remove any link to the
            website, and upon receipt of such request, you shall immediately
            remove such link and cease any linking unless separately and
            expressly authorized in writing by us to resume linking.
          </p>
          <br/>
          <p>
            Any unauthorized use by you of the Forest Essentials Online
 
            website or any and/or all of our Content automatically terminates
            the limited licenses set forth in this Section without prejudice
            to any other remedy provided by applicable law or these Terms and
            Conditions.
          </p>
        </li>

        <li>
          <span>Your Obligations and Responsibilities</span>
          <p>
            In the access or use of the Forest Essentials Online website, you
 
            shall comply with these Terms and Conditions and the special
            warnings or instructions for access or use posted on the website.
            You shall act always in accordance with the law, custom and in
            good faith. You may not make any change or alteration to the
            website or any Content or services that may appear on this website
            and may not impair in any way the integrity or operation of the
            website. Without limiting the generality of any other provision of
            these Terms and Conditions, if you default negligently or
            willfully in any of the obligations set forth in these Terms and
            Conditions, you shall be liable for all the losses and damages
            that this may cause to Forest Essentials Online, our Affiliates,
            partners or licensors
          </p>
        </li>

        <li>
          <span>Third Party Links</span>
          <p>
            We are not responsible for the content of any off-website pages or
 
            any other websites linked to or from the Forest Essentials Online
            website. Links appearing on this website are for convenience only
            and are not an endorsement by us, our affiliates or our partners
            of the referenced content, product, service, or supplier. Your
            linking to or from any off-website pages or other websites is at
            your own risk. We are in no way responsible for examining or
            evaluating, and we do not warrant the offerings of, off-website
            pages or any other websites linked to or from the site, nor do we
            assume any responsibility or liability for the actions, content,
            products, or services of such pages and websites, including,
            without limitation, their privacy policies and terms and
            conditions. You should carefully review the terms and conditions
            and privacy policies of all off-website pages and other websites
            that you visit.
          </p>
        </li>

        <li>
          <span>Special Features, Functionality and Events</span>
          <p>
            Forest Essentials Online may offer certain special features and
 
            functionality or events (such as contests, promotions or other
            offerings) which may (a) be subject to terms of use, rules and/or
            policies in addition to or in lieu of these Terms and Conditions;
            and (b) be offered by us or by third parties. If so, we will
            notify you of this and if you choose to take advantage of these
            offerings, you agree that your use of those offerings will be
            subject to such additional or separate terms of use, rules and/or
            policies.
          </p>
        </li>

        <li>
          <span>Submissions</span>
          <p>
            It is our policy to decline unsolicited suggestions and ideas.
 
            Notwithstanding our policy with regard to unsolicited suggestions
            and ideas, any inquiries, feedback, suggestions, ideas or other
            information you provide us (collectively, “Submissions”) will be
            treated as non-proprietary and non-confidential. Subject to the
            terms of our Privacy Policy, by transmitting or posting any
            Submission, you hereby grant us the right to copy, use, reproduce,
            modify, adapt, translate, publish, license, distribute, sell or
            assign the Submission in any way as we see fit, including but not
            limited to copying in whole or in part, creating derivative works
            from, distributing and displaying any Submission in any form,
            media, or technology, whether now known or hereafter developed,
            alone or as part of other works, or using the Submission within or
            in connection with our products or services. You also acknowledge
            that your Submission will not be returned and we may use your
            Submission, and any ideas, concepts or know how contained therein,
            without payment of money or any other form of consideration, for
            any purpose including, without limitation, developing,
            manufacturing, distributing and marketing products.
          </p>
          <br/>
          <p>
            If you make a Submission, you represent and warrant that you own
 
            or otherwise control the rights to your Submission. You further
            represent and warrant that such Submission does not constitute or
            contain software viruses, commercial solicitation, chain letters,
            mass mailings, or any form of “spam”. You may not use a false
            email address, impersonate any person or entity, or otherwise
            mislead us as to the origin of any Submission. You agree to
            indemnify us for all claims arising from or in connection with any
            claims to any rights in any Submission or any damages arising from
            any Submission.
          </p>
        </li>
        <li>
          <span>User Content</span>
          <p>
            When you transmit, upload, post, e-mail or otherwise make
 
            available data, text, software, music, sound, photographs,
            graphics, images, videos, messages or other materials (“User
            Content”) on the website, you are entirely responsible for such
            User Content. Such User Content constitutes a Submission under
            Section 10 above. This means that all third parties, and not we,
            are entirely responsible for all User Content that they post to
            the website. You agree not to engage in or assist or encourage
            others to engage in transmitting, uploading, posting, e-mailing or
            otherwise making available on the website User Content that (a) is
            unlawful, harmful, threatening, abusive, harassing, tortious,
            defamatory, vulgar, obscene, pornographic, libelous, invasive of
            another's privacy, hateful, or racially, ethnically or otherwise
            objectionable; (b) you do not have a right to make available under
            any law or under contractual or fiduciary relationships; (c) is
            known by you to be false, inaccurate or misleading; (d) you were
            compensated for or granted any consideration by any third party;
            or (e) infringes any patent, trademark, trade secret, copyright or
            other proprietary and/or intellectual property rights of any
            party. In addition, you agree not to transmit, upload, post,
            e-mail, or otherwise make available any software viruses,
            unsolicited or unauthorized advertising, solicitation or
            promotional material, including chain letters, mass mailings, or
            any form of “spam”. You further agree not to (i) impersonate any
            person or entity, or falsely state or otherwise misrepresent your
            affiliation with any person or entity; (ii) “stalk” or otherwise
            harass including advocating harassment of another, entrap or harm
            any third party including harming minors in any way; (iii) forge
            headers or otherwise manipulate identifiers in order to disguise
            the origin of any User Content; (iv) intentionally or
            unintentionally violate any applicable local, state, national or
            international law; or (v) collect or store personally identifiable
            data about other users.
          </p>
          <br/>
          <p>
            We do not endorse or control the User Content transmitted or
 
            posted on the Forest Essentials Online website and therefore, we
            do not guarantee the accuracy, integrity or quality of User
            Content. You understand that by using this website, you may be
            exposed to User Content that is offensive, indecent or
            objectionable to you. Under no circumstances will we be liable in
            any way for any User Content, including, without limitation, for
            any errors or omissions in any User Content, or for any loss or
            damage of any kind incurred by you as a result of the use of any
            User Content transmitted, uploaded, posted, e-mailed or otherwise
            made available via the website.
          </p>
          <br/>
          <p>
            You acknowledge that we have the right (but not the obligation) in
 
            our sole discretion to refuse to post or remove any User Content
            and we reserve the right to change, condense, or delete any User
            Content. Without limiting the generality of the foregoing or any
            other provision of these Terms and Conditions, we have the right
            to remove any User Content that violates these Terms and
            Conditions or is otherwise objectionable and we reserve the right
            to refuse service without prior notice for any users who violate
            these Terms and Conditions or infringe the rights of others.
          </p>
        </li>

        <li>
          <span>Copyright Complaints</span>
          <p>
            We respect the intellectual property of others. If you believe
 
            that copyrighted materials have been copied in a way that
            constitutes copyright infringement, please send an email or
            written notice to us for notices of infringement and provide the
            following: (i) identification of the copyrighted work(s) that you
            claim has been infringed and that you are the copyright owner or
            authorised to act on the copyright owner’s behalf; (ii) a
            description of the material that you claim is infringing and the
            location of the material on the website; (iii) your address,
            telephone number and email address to
            legal@forestessentialsindia.com
          </p>
          <br/>
          <p>
            Note: The above contact information is provided exclusively for
 
            notifying Forest Essentials that copyrighted material may have
            been infringed. All other inquiries will not receive a response
            through this process and should be directed to our customer
            service group by email service@forestessentialsindia.com
          </p>
        </li>

        <li>
          <span>Representations and Warranties and Limitation of Liability</span>
          <p>
            Forest Essentials Online website is presented “As Is”. We make no
 
            representations or warranties of any kind whatsoever, express or
            implied, in connection with these terms and conditions or the
            site, including but not limited to warranties of merchantability,
            non-infringement or fitness for a particular purpose, except to
            the extent such representations and warranties are not legally
            excludable.
          </p>
          <br/>
          <p>
            You agree that, to the fullest extent permitted by applicable law,
 
            we will not be responsible or liable (whether in contract, tort
            (including negligence) or otherwise), under any circumstances, for
            any (a) interruption of business; (b) access delays or access
            interruptions to the site; (c) data non-delivery, wrong delivery,
            corruption, destruction or other modification; (d) loss or damages
            of any sort incurred as a result of dealings with or the presence
            of off-website links on the website; (e) computer viruses, system
            failures or malfunctions which may occur in connection with your
            use of the site, including during hyperlink to or from third party
            websites (f) any inaccuracies or omissions in content or (g)
            events beyond our reasonable control.
          </p>
          <br/>
          <p>
            Forest Essentials personal care products are based on natural and
 
            Ayurvedic formulations. Though enormous efforts are made and
            precautions taken to render the products absolutely safe for human
            use, it is possible that certain ingredients may cause allergic
            reactions to certain individuals or adversely affect individuals
            with pre-existing medical conditions. Please make yourself aware
            of the ingredients and usage instructions accompanying each of our
            products to make sure that they are safe for you to use. It will
            be your sole responsibility to take proper precaution/
            professional medical/ dermatological advice before using any of
            our personal care products that you may be allergic to. You agree
            that Forest Essentials Online will not be responsible or liable
            for any product related issues including without limitation any
            allergic reactions to you on account of usage of our products. For
            any purchases made through the Forest Essentials Online, you will
            inter alia be governed by the limitation of liability and
            disclaimer conditions provided in more detail with the product
            packaging/leaflets.
          </p>
          <br/>
          <p>
            Further, to the fullest extent permitted by law, we will not be
 
            liable for any indirect, special, punitive, incidental, or
            consequential damages of any kind (including lost profits) related
            to the website or your use thereof regardless of the form of
            action whether in contract, tort (including negligence) or
            otherwise, even if we have been advised of the possibility of such
            damages and in no event shall our maximum aggregate liability
            exceed Indian Rupees 2000 only.
          </p>
          <br/>
          <p>
            You agree that no claims or action arising out of, or related to,
 
            the use of the website or these terms and conditions may be
            brought by you more than one (1) year after the cause of action
            relating to such claim or action arose
          </p>
        </li>

        <li>
          <span>Indemnification</span>
          <p>
            You agree to defend, indemnify and hold us harmless for any loss,
 
            damages or costs, including reasonable attorneys’ fees, resulting
            from any third party claim, action, or demand resulting from your
            use of Forest Essentials Online or breach of these Terms and
            Conditions. You also agree to indemnify us for any loss, damages,
            or costs, including reasonable attorneys’ fees, resulting from
            your use of software robots, spiders, crawlers, or similar data
            gathering and extraction tools, or any other action you take that
            imposes an unreasonable burden or load on our infrastructure.
          </p>
        </li>

        <li>
          <span>
            Disputes</span>
          <p>
            With respect to any dispute regarding the website, all rights and
 
            obligations and all actions contemplated by these Terms and
            Conditions shall be governed by the laws of India and the courts
            of New Delhi, India, as if the Terms and Conditions were a
            contract wholly entered into and wholly performed within New
            Delhi, India, subject to foreign legal mandatory provisions. To
            the fullest extent permitted by applicable law, any dispute,
            differences or claim arising out your visit to the Forest
            Essentials Online website shall be referred to the sole Arbitrator
            appointed by the Chairman and Managing Director of Forest
            Essentials in accordance with the law. The venue of such
            arbitration shall be at New Delhi, India and the award of the
            Arbitrator shall be final and binding on all parties and may be
            entered as a judgment in any court of competent jurisdiction. To
            the fullest extent permitted by applicable law, no arbitration
            under these Terms and Conditions shall be joined to an arbitration
            involving any other party subject to this Terms and Conditions,
            whether through class arbitration proceedings or otherwise.
          </p>
          <br/>
          <p>
            To the extent arbitration is not permitted by applicable law, any
 
            dispute relating in any way to your visit to the website shall be
            submitted to an appropriate court or other judicial body in India,
            as applicable, without prejudice to the applicable law and all
            applicable provisions of this Section, and subject to our right to
            seek injunctive or other appropriate relief in any court, if you
            have in any manner violated or threatened to violate our
            intellectual property rights and you consent to exclusive
            jurisdiction and venue in such courts
          </p>
        </li>

        <li>
          <span>Consent to Receive Notices Electronically by Posting on the
 
            Website and Via Email</span>
          <p>
            You consent to receive any agreements, notices, disclosures and
 
            other communications (collectively, “Notices”) to which these
            Terms and Conditions refer from us electronically including
            without limitation by email or by posting notices on this website.
            You agree that all Notices that we provide to you electronically
            satisfy any legal requirement that such communications be in
            writing. To withdraw your consent to receive Notices
            electronically, you must notify us of your withdrawal of such
            consent by emailing us at service@forestessentialsindia.comand
            discontinue your use of this website. In such event, all rights
            granted to you pursuant to these Terms and Conditions, including
            but not limited to the limited licenses set forth in Section 6
            hereof, shall automatically terminate. Unfortunately, we cannot
            provide the benefits of this website to any user that cannot
            consent to receipt of Notices electronically.
          </p>
          <br/>
          <p>
            Please note that this consent to receive Notices is entirely
 
            separate from any election you may make with respect to receipt of
            marketing communications. Your options with respect to receipt of
            marketing communications are set forth in our Privacy Policy.
          </p>
        </li>

        <li>
          <span>General</span>
          <p>
            You acknowledge and agree that these Terms and Conditions
 
            constitute the complete and exclusive agreement between us
            concerning your use of the website, and supersede and govern all
            prior proposals, agreements, or other communications.
          </p>
          <br/>
          <p>
            We reserve the right, in our sole discretion, to change these
 
            Terms and Conditions at any time by posting the changes on the
            website and providing notice of such change. Any changes are
            effective immediately upon posting to the Site and release of
            notice of such change. Your continued use of the website
            thereafter constitutes your agreement to all such changed Terms
            and Conditions. We may, with or without prior notice, terminate
            any of the rights granted by these Terms and Conditions. You shall
            comply immediately with any termination or other notice,
            including, as applicable, by ceasing all use of the website.
          </p>
          <br/>
          <p>
            Nothing contained in these Terms and Conditions shall be construed
 
            as creating any agency, partnership, or other form of joint
            enterprise between us. Our failure to require your performance of
            any provision hereof shall not affect our full right to require
            such performance at any time thereafter, nor shall our waiver of a
            breach of any provision hereof be taken or held to be a waiver of
            the provision itself. In the event that any provision of these
            Terms and Conditions shall be unenforceable or invalid under any
            applicable law or be so held by any applicable arbitral award or
            court decision, such unenforceability or invalidity shall not
            render these Terms and Conditions unenforceable or invalid as a
            whole but these Terms and Conditions shall be modified, to the
            extent possible, by the adjudicating entity to most fully reflect
            the original intent of the parties as reflected in the original
            provision.
          </p>
          <br/>
          <p>
            If you have any questions regarding these Terms and Conditions,
 
            please email us at legal@forestessentialsindia.com
          </p>
          <br/>
          <p>
            Worldwide Copyright © Mountain Valley Springs India Pvt Ltd.
 
            (brand owners of Forest Essentials). All worldwide rights
            reserved.
          </p>
        </li>

        <li>
          <span>International Orders</span>
          <p>For deliveries outside India:</p>
          <p>
            - Your shipment could be subject to Customs Duty Charge / Import
 
            Duty / VAT / Other applicable government taxes on arrival in the
            destination country.
          </p>

          <p>
            - Check the tentative Customs Duty Charge / Import Duty / VAT /
 
            other applicable government taxes here.
          </p>
          <p>
            - These charges will have to be paid by the consignee. The brand
 
            is not liable to pay them under any circumstances.
          </p>
          <p>
            - The shipping charges mentioned in the total order value does not
 
            include these charges.
          </p>
          <p>
            - If the consignee refuses to pay the liable shipment custom
 
            charges upon its arrival in the destination country the brand will
            deduct complete shipping and return duty charges from the
            consignees order value while processing the refund.
          </p>
          <br/>
          <p>
            The brand will only be responsible for compliance with export and
 
            customs laws of the country where the products are being shipped
            from. The consignee must ensure compliance with import and customs
            laws of the country they are having the products shipped to.
          </p>
          <br/>
          <p>
            The number of products ordered by the customer may exceed the
 
            total number permissible by their country for clearance upon
            arrival. In this regard, the customer must consider these limits
            placed by their country while ordering products from the brand.
          </p>
          <br/>
          <p>
            The brand will fulfil all international orders from its end.
 
            However, the consignee will be responsible for the entry of the
            products to the country they have chosen to have the products
            shipped to and for compliance with all applicable laws pertaining
            to the same, including without limitation, payment of Customs Duty
            Charge / Import Duty / VAT / Other applicable government taxes on
            arrival in the destination country.
          </p>
          <br/>
          <p>
            In the event and for any reason whatsoever, an order does not get
 
            cleared by customs in the destination country, the brand may, at
            its sole and absolute discretion, consider a refund of the
            customer’s order amount after deducting the shipping costs, return
            duty charges and any other charges incurred by the brand while
            processing the order and having the products shipped to the
            customer.
          </p>
          <br/>
          <p>
            Transformative Soundarya Night Cream With 24K Gold 45g” is now
 
            eligible for free shipping on all international orders. This offer
            is valid till 4th December 2022
          </p>
          <br/>
          <p>
            Please confirm that your order and the products therein are in
 
            compliance with and the delivery permissible under the laws of
            your country.
          </p>
        </li>

        <li>
          <span>Gift Wrap – Terms & Conditions</span>
          <p>
            1. The Gift Wrap option is available on minimum order value of INR
 
            3000 and above.
          </p>
          <p>
            2. Customer will get a personalised message card with the Gift
 
            Wrap box.
          </p>
          <p>
            3. The Gift Wrap option is available only for individual
 
            product(s).
          </p>
          <p>
            4. The Gift Wrap option is not available for Gift Boxes and Gift
 
            Cards.
          </p>
          <p>
            5. If all the individual products selected do not fit in the
 
            chosen box, a different box will be used to pack them.
          </p>
          <p>
            6. The Gift wrap option is available for India & International
 
            orders.
          </p>
          <p>7. This option is valid till stocks last.</p>
          <p>
            8. Forest Essentials reserves the right to cancel or modify the
 
            option at any time.
          </p>
          <p>
            9. The Gift Wrap option will be applicable based on below price
 
            range of cart value:
          </p>
          <br/>
          <div class="table-container-lg">
            <table>
              <tr>
                <th>Cart Value</th>
                <th>Cost of Gift Box</th>
              </tr>
              <tr>
                <td>INR 3000 - INR 5000</td>
                <td>INR 250</td>
              </tr>
              <tr>
                <td>INR 5000 - INR 7000</td>
                <td>No Charge</td>
              </tr>
              <tr>
                <td>INR 7000 and above</td>
                <td>No Charge</td>
              </tr>
              <tr>
                <td>Message Card</td>
                <td>No Charge</td>
              </tr>
            </table>
          </div>

          <div class="table-container-sm">
            <table>
              <tr>
                <th>Cost of Gift Box</th>
                <th>Cart Value</th>
              </tr>
              <tr>
                <td>INR 250</td>
                <td>INR 3000 - INR 5000</td>
              </tr>
              <tr>
                <td>No Charge</td>
                <td>INR 5000 - INR 7000</td>
              </tr>
              <tr>
                <td>No Charge</td>
                <td>INR 7000 and above</td>
              </tr>
              <tr>
                <td>No Charge</td>
                <td>Message Card</td>
              </tr>
            </table>
          </div>

          <p>
            10. Any request for Gift Wrap or message placed separately will
 
            not be fulfilled. In case of exceptional circumstances, Forest
            Essentials will first check the feasibility of incorporating the
            same and will directly apprise the customer of the conclusion. No
            confirmation or guarantee is assured for requests received
            separately.
          </p>
          <p>
            11. In case the Gift Box selected goes out of stock, Forest
 
            Essentials reserves the right to change and pack the order in the
            closest alternative available. Customers will not be informed with
            respect to the changes done to avoid any delay in dispatch.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .termsConditions,
  .termsConditions > div {
    max-width: 1240px;
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 20px 10px;
    gap: 20px;
  }

  .termsConditions > h2 {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #70645c;
    text-align: left;
    letter-spacing: 1px;
  }

  .termsConditions > div:nth-child(2) {
    width: 100%;
    padding: 0;
    gap: 15px;
    font-family: "Noto Sans"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #70645c;
  }

  .termHeadings {
    list-style-type: none;
    counter-reset: my-counter;
    /* Reset the counter */
    padding-left: 0;
    /* Remove default padding */
  }

  .termHeadings > li {
    counter-increment: my-counter;
    /* Increment the counter for each list item */
    margin-bottom: 10px;
    /* Add some spacing between list items */
  }

  .termHeadings > li::before {
    content: counter(my-counter) ". ";
    /* Display the counter value */
    font-weight: 400;
    /* Optionally, make the numbers bold */
    color: #70645c;
    /* Optionally, change the color of the numbers */
    margin-right: 5px;
    /* Optionally, add some spacing between the number and the text */
  }

  .termDefinations {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 0;
    margin-top: 10px;
  }

  .termDefinations > li {
    counter-increment: my-counter;
    margin-bottom: 20px;
  }

  .termDefinations > li::before {
    content: counter(my-counter) ". ";
    font-weight: 400;
    color: #70645c;
  }

  .table-container-lg {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: inline-block;
    /* Ensures container size fits the content */
  }

  .table-container-lg > table {
    border-collapse: collapse;
    /* Collapse borders into a single border */
    width: 100%;
  }

  .table-container-lg > table th,
  td {
    border: 1px solid black;
    /* Border for each cell */
    padding: 8px;
    /* Padding for cell content */
    text-align: left;
    /* Center align text */
  }

  .table-container-sm {
    display: none;
  }

  @media all and (min-width: 600px) and(max-width: 999px) {
    .termsConditions {
      width: 85%;
    }
    .table-container-sm {
      display: none;
    }
  }

  @media all and (min-width: 300px) and(max-width: 599px) {
    .termsConditions {
      width: 95%;
    }

    .termsConditions > h2 {
      text-align: center;
    }

    .table-container-sm {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      display: inline-block;
      /* Ensures container size fits the content */
    }

    .table-container-sm > table {
      border-collapse: collapse;
      /* Collapse borders into a single border */
      width: 100%;
    }

    .table-container-sm > table th,
    td {
      border: 1px solid black;
      /* Border for each cell */
      padding: 8px;
      /* Padding for cell content */
      text-align: left;
      /* Center align text */
    }

    .table-container-lg {
      display: none;
    }
  }

</style>


{% schema %}
  {
    "name": "Terms and Conditions",
    "settings": [],
    "presets": [
      {
        "name": "termsConditions"
      }
    ]
  }
{% endschema %}