<section>
  <main>
    <!-- paragraph -->
    <div class="max-w-[1240px] px-4 w-[95%] mx-auto bg-white pt-10">
      <h2 class="text-center text-4xl lg:text-5xl font-bold text-gray-600" style="font-family: Amatic SC">
        WHY TIMELESS
      </h2>
    </div>
    <!-- main content starts -->
    <div class="max-w-[1240px] px-4 w-[95%] mx-auto py-6 ">
      <div class="grid grid-cols-1 lg:gap-24 gap-6">
        <div class="flex lg:flex-row flex-col justify-center items-center w-full h-full bg-[#EDE9DD] border border-gray-700">
          <div class="lg:w-[50%] w-full">
            <img
              class=""
              src="{{ 'Rectangle 265.png' | asset_url }}"
              alt=""
              width=""
              height="" />
          </div>
          <div class="lg:w-[50%] w-full text-center lg:text-left flex flex-col gap-4 px-8 py-8">
            <h2 class="text-3xl text-gray-700 font-normal">WE ARE CLEAN</h2>
            <p class="text-sm sm:leading-snug">
              We are clean beauty, empowering you to create "your" own beauty ritual using organic ingredients & melding ancient beauty secrets from world over with tomorrow's science.
            </p>
          </div>
        </div>

        <div class="flex lg:flex-row flex-col-reverse justify-center items-center w-full h-full bg-[#EDE9DD] border border-gray-700">
          <div class="lg:w-[50%] w-full text-center lg:text-left flex flex-col gap-4 px-8 py-8">
            <h2 class="text-3xl text-gray-700 font-normal">WE ARE CLEAN</h2>
            <p class="text-sm sm:leading-snug">
              We are clean beauty, empowering you to create "your" own beauty ritual using organic ingredients & melding ancient beauty secrets from world over with tomorrow's science.
            </p>
          </div>
          <div class="lg:w-[50%] w-full">
            <img
              class=""
              src="{{ 'Rectangle 265.png' | asset_url }}"
              alt=""
              width=""
              height="" />
          </div>
        </div>

        <div class="flex lg:flex-row flex-col justify-center items-center w-full h-full bg-[#EDE9DD] border border-gray-700">
          <div class="lg:w-[50%] w-full">
            <img
              class=""
              src="{{ 'Rectangle 265.png' | asset_url }}"
              alt=""
              width=""
              height="" />
          </div>
          <div class="lg:w-[50%] w-full text-center lg:text-left flex flex-col gap-4 px-8 py-8">
            <h2 class="text-3xl text-gray-700 font-normal">WE ARE CLEAN</h2>
            <p class="text-sm sm:leading-snug">
              We are clean beauty, empowering you to create "your" own beauty ritual using organic ingredients & melding ancient beauty secrets from world over with tomorrow's science.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

</section>