<div>
    <div class=" w-full overflow-x-hidden">
      <div class="text-gray-600 body-font">
          <div class="lg:px-[10rem]  px-8 py-1 mx-auto">
              <div class="px-1 py-1 mx-auto">
            <div class="flex items-center gap-4 justify-center flex-col lg:flex-row  justify-center ">
              <div class=" w-full">
                <div class=" flex flex-col justify-center items-center ">
                  
                  <div class="w-48 h-24 rounded-tl-full rounded-tr-full bg-white  border-t border-l border-r border-gray-600 flex items-center justify-center">
                    <div class="h-24 w-28 mt-2">
                      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                    <dotlottie-player src="https://lottie.host/ee88e6de-795f-4fdf-a806-cacde69d0678/BexNypQQXA.json" background="transparent" speed="1"class="h-24 w-28"  loop autoplay></dotlottie-player>
                    </div>
                  </div>
                  <div class="w-48 h-24 rounded-bl-full rounded-br-full bg-[#71645c] flex items-center justify-center border-b-2 border-l border-r border-gray-600">
                    <h4 class="text-base font-bold text-center text-white mb-4">FREE <br/> SHIPPING</h4>
                  </div>
                 
                </div>
              </div>
              <p class="text-center lg:hidden block">On all international orders of INR 9,999/- and above, and on all domestic orders of INR 475/- and above</p>
              <div class=" w-full">
                <div class=" flex flex-col justify-center items-center  ">
                  
                  <div class="w-48 h-24 rounded-tl-full rounded-tr-full bg-white  border-t border-l border-r border-gray-600 flex items-center justify-center">
                    <div class="h-24 w-28 mt-2">
                      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                      <dotlottie-player src="https://lottie.host/eb73ca7c-d295-4000-bbb7-dec5a9cb349f/1BL7vI5OCv.json" background="transparent" speed="1" class="h-28 w-28 " loop autoplay></dotlottie-player>
                    </div>
                  </div>
                  <div class="w-48 h-24 rounded-bl-full rounded-br-full  bg-[#71645c] flex items-center justify-center border-b-2 border-l border-r border-gray-600">
                    <h4 class="text-base font-bold text-center text-white mb-4">COMPLIMENTARY<br/> SAMPLE</h4>
                  </div>
                 
                </div>
              </div>
              <p class="text-center lg:hidden block">Enjoy complimentary samples on your orders.</p>
              <div class=" w-full">
                <div class=" flex flex-col justify-center items-center  ">
                  
                  <div class="w-48 h-24 rounded-tl-full rounded-tr-full bg-white  border-t border-l border-r border-gray-600 flex items-center justify-center">
                    <div class="h-24 w-28 mt-2">
                      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                    <dotlottie-player src="https://lottie.host/5158618f-cdaf-43da-95bf-33decf830a78/HDZHINn2kV.json" background="transparent" speed="1" class="h-24 w-28" loop autoplay></dotlottie-player>
                    </div>
                  </div>
                  <div class="w-48 h-24 rounded-bl-full rounded-br-full  bg-[#71645c] flex items-center justify-center border-b-2 border-l border-r border-gray-600">
                    <h4 class="text-base font-bold text-center text-white mb-4">ACE <br/> REFFERALS</h4>
                  </div>
                 
                </div>
              </div>
              <p class="text-center lg:hidden block ">Accumulate points with every* purchase on the Timeless Beauty Secrets website and redeem them online and in stores. Upgrade your tier and earn additional points to indulge in greater rewards.</p>
              <div class=" w-full">
                <div class=" flex flex-col justify-center items-center  ">
                  
                  <div class="w-48 h-24 rounded-tl-full rounded-tr-full bg-white  border-t border-l border-r border-gray-600 flex items-center justify-center">
                    <div class="h-24 w-28 mt-2">
                      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                      <dotlottie-player src="https://lottie.host/a714f9fe-013e-435c-9723-4bac39f729fd/q0kVNingpj.json" background="transparent" speed="1" class="h-24 w-28 " loop autoplay ></dotlottie-player> 
                    </div>
                  </div>
                  <div class="w-48 h-24 rounded-bl-full rounded-br-full  bg-[#71645c] flex items-center justify-center border-b-2 border-l border-r border-gray-600">
                    <h4 class="text-base font-bold text-center text-white mb-4">GREAT <br/> REWARDS</h4>
                  </div>
                 
                </div>
              </div>
              <p class="text-center lg:hidden block">Get rewarded for referring a friend or a family member to the Timeless Club.</p>
            </div>
          </div> 
      </div> 
      
    </div>
</div>

  </div>